<nav>
  <h1>RevTo</h1>
  <ul style="list-style: none;">
    <li style="display: inline-block;"><a href="/">Home</a></li>
    <li style="display: inline-block;"><a href="/restaurants">Restaurants</a></li>
    <!-- <li style="display: inline-block;"></li> -->
  </ul>
</nav>