<nav>
  <h1>RevTo beta</h1>
  <ul class="list-inline">
    <li class="list-inline-item"><a href="/">Home</a></li>
    <li class="list-inline-item"><a href="/users">Restaurants</a></li>
    <li class="list-inline-item"><a href="/users/<%= UserId %>/reviews">Your reviews</a></li>
  </ul>
</nav>